<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <a href="/">Home</a>
    <ul>
        {{#each result}}
            <li>
                <span>{{this.dataid}}</span>
                <span>{{this.dataname}}</span>
                <a href="/update/{{this.dataid}}">Edit</a>
                <form 
                    action="/delete/{{this.dataid}}?_method=DELETE" 
                    method="POST"
                    style="display: inline-block"
                >
                    <input type="submit" value="Delete">
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>